header { /* specificity: 1 */
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    text-align: center;
}

nav { /* specificity: 1 */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

ul { /* specificity: 1 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: .5rem 1.3rem .5rem;
}

li { /* specificity: 1 */
    padding: .5rem;
    list-style: none;
}

a { /* specificity: 1 */
    color: rgb(180, 180, 180);
    text-decoration: none;
}

p { /* specificity: 1 */
    margin: 0 0 1rem;
    color: rgb(180, 180, 180);
    font-weight: lighter;
}

header h1 { /* specificity: 2 */
    margin: 0;
    padding: .5rem 1.8rem .5rem;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
}

h1 a,  /* specificity: 2 */
h1 a:hover{ /* specificity: 12 */
    color: rgb(119, 212, 119);
}

a:hover { /* specificity: 11 */
    color: black;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    width: 100%;
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-desc p {
    color: black;
    margin-top: 2rem;
}

.comment p {
    color: black;
}

.content-title {
    width: 90%;
    max-width: 50rem;
    word-break: keep-all;
    word-wrap: break-word;
}

img {
    width: 2rem;
    border-radius: 70%;
}

.content-title .info {
    margin: 0.6rem 0 2rem;
    display: flex;

}

.info-right {
    display: flex;
    flex-direction: column;
}

.info-right a {
    font-size: 1rem;
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: underline;
}

.info-right time {
    font-size: .7rem;
}

.content-desc {
    width: 90%;
    max-width: 50rem;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: .06rem solid lightgray;
}

.content-desc input[type="button"]{
    border: 0.06rem solid lightgray;
    border-radius: 40%;
    background-color: white;
    color: lightgray;
    margin: 0.4rem;
    padding: .4rem .6rem .4rem;
}

.comments-container {
    width: 90%;
    max-width: 40rem;
}

.comments-container p {
    margin-top: 2rem;
}

.comments-container a {
    color: rgba(81, 212, 69, 0.781);
    text-decoration: none;
}

.comments-container a:hover {
    color: rgba(48, 141, 40, 0.781);
    text-decoration: underline;
}

.comment {
    border: 0.06rem solid silver;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 8rem;
}

.comment p {
    margin-left: 2rem;
}

.comment .info {
    border-top: 0.06rem solid silver;
    background-color: rgb(238, 238, 238);
    padding: 1rem 2rem 1rem;
}

.comment img {
    width: 1.2rem;
}

.comment time {
    color: silver;
}