
a {
    text-decoration: none;
}

html {
    height: fit-content;
    overflow-y: auto;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: 'Source Sans Pro', sans-serif;
}

header > #title {
    margin: 0px;
    line-height: 3rem;

    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
}

header > #title > a {
    color: rgb(92, 184, 92);
}

header > nav {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

header > nav > ul {
    width: 250px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    
    list-style: none;
}

header > nav > ul > li > a {
    color: rgb(146, 146, 146);
}

header > nav > ul > li > a:hover {
    color: black;
}

#home {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#banner {
    width: 100%;
    height: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(92, 184, 92);
    box-shadow: inset 0px -1px 10px rgb(72, 124, 72);

    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#banner > #banner_title {
    margin-top: 20px;
    margin-bottom: 0px;
    
    text-shadow: -1px 1px 3px rgb(72, 124, 72);
    
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}

#banner > #banner_desc {
    margin-top: 0px;
    margin-bottom: 20px;

    font-size: 1.5rem;
    font-weight: lighter;
}

main {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro', sans-serif;
}

main > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

main > section > ul {
    width: 120px;
    height: 30px;

    padding: 0px;
    margin: 0px;
    
    text-align: center;
    
    list-style: none;
    border-bottom: 2px solid rgb(92, 184, 92);
}

main > section > ul >li > a {
    color: rgb(92, 184, 92);
}

main > section > article > .contents {
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-top: 1px solid rgb(216, 216, 216);
}

main > section > article > .contents > .top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main > section > article > .contents > .top > a > img {
    border-radius: 100%;
}

main > section > article > .contents > .top > .info {
    width: 100%;

    padding-left: 3px;
    
    display: flex;
    flex-direction: column;
}

main > section > article > .contents > .top > .info > a{
    color: rgb(92, 184, 92);

}
main > section > article > .contents > .top > .info > a:hover {
    color: rgb(72, 124, 72);
    text-decoration: underline;
}

time {
    color: rgb(187, 187, 187);
    font-size: 0.75rem;
    font-weight: lighter;
}

main > section > article > .contents > .top > input {
    height: fit-content;
    padding: 2px 8px 2px;
    background-color: white;
    align-self: center;
    border: rgb(92, 184, 92) solid 1px;
    border-radius: 3px;
    
    color: rgb(92, 184, 92);
    font-family: inherit;
    text-align: center;
    outline: none;
}

main > section > article > .contents > .top > input:hover {
    background-color: rgb(92, 184, 92);
    border: rgb(92, 184, 92) solid 1px;
    
    color: white;
}

main > section > article > .contents > .middle > h2 {
    margin-bottom: 0px;
    color: black;
}

main > section > article > .contents > .middle > p {
    margin-top: 0px;
    color: rgb(187, 187, 187);
}

main > section > article > .contents > .bottom {
    width: fit-content;
    color: rgb(187, 187, 187);
    font-size: 0.8rem;
    font-weight: lighter;
}

main > section > #page_number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main > section > #page_number > .selected {
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background-color: rgb(92, 184, 92);
    padding: 12px;
    color: white;
    outline: none;
}

main > section > #page_number > .selected:hover {
    text-decoration: underline;
}

main > section > #page_number > .unselected {
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid rgb(187, 187, 187);
    padding: 12px;
    background-color: white;
    
    color: rgb(92, 184, 92);
    outline: none;
}

main > section > #page_number > .unselected:hover {
    background-color: rgb(226, 226, 226);
    color: rgb(72, 124, 72);
    text-decoration: underline;
}

main > aside > #tag_box {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

main > aside > #tag_box > p {
    font-size: 1rem;
    padding: 8px;
    margin: 0px;
}

main > aside > #tag_box > #tag_buttons {
    padding: 0px 8px 8px 8px;
    display: flex;
    flex-wrap: wrap;
    
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
}

main > aside > #tag_box > #tag_buttons > input {
    background-color: rgb(137, 139, 144);
    border-radius: 15px;
    border: none;
    color: white;
    margin: 3px;
    height: 25px;
    outline: none;

    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
}

main > aside > #tag_box > #tag_buttons > input:hover {
    background-color: rgb(107, 109, 114);
}

@media screen and ( min-width: 1200px ) {
    header {
        width: 1080px;
    }
    main > section {
        width: 825px;
    }
    main > aside > #tag_box {
        width: 235px;
    }
}

@media screen and ( max-width: 1200px ) and ( min-width: 1000px ) {
    header {
        width: 860px;
    }
    main > section {
        width: 675px;
    }
    main > aside > #tag_box {
        width: 185px;
    }
}

@media screen and ( max-width: 1000px ) and ( min-width: 770px ) {
    header {
        width: 700px;
    }
    main > aside > #tag_box {
        width: 130px;
    }
}

@media screen and ( max-width: 770px ) and ( min-width: 560px ) {
    header {
        width: 550px;
    }
    main > aside > #tag_box{
        width: 550px;
    }
}

@media screen and ( max-width: 560px ) {
    header {
        width: 90%;
    }
    main > section {
        width: 100%;
    }
    main > aside > #tag_box{
        width: 100%;
    }
}

/* @media screen and ( max-width: 770px ) {   main flex 방향 전환 지점 
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        font-family: 'Source Sans Pro', sans-serif;
    }
    main > aside {
        padding: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
} */

@media screen and ( max-width: 1000px ) and ( min-width: 550px ) {
    main > section {
        width: 550px
    }
}

