
nav { /* specificity: 1 */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

ul { /* specificity: 1 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: .5rem 1.3rem .5rem;
}

li { /* specificity: 1 */
    padding: .5rem;
    list-style: none;
}

main { /* specificity: 1 */
    width: 100%;

    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionContainer { /* specificity: 1 */
    /* width: 100%; */
    height: fit-content;
    /* max-width: 55rem; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: start;

    flex-grow: 1;
    flex-basis: 30rem;
}

time { /* specificity: 1 */
    color: rgb(180, 180, 180);
    font-size: .6rem;
    font-weight: lighter;
}

a { /* specificity: 1 */
    color: rgb(180, 180, 180);
    text-decoration: none;
}

p { /* specificity: 1 */
    margin: 0 0 1rem;
    color: rgb(180, 180, 180);
    font-weight: lighter;
}

h1 a,  /* specificity: 2 */
h1 a:hover{ /* specificity: 12 */
    color: rgb(119, 212, 119);
}

a:hover { /* specificity: 11 */
    color: black;
}

.main-title { /* specificity: 10 */
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(92, 184, 92);
    box-shadow: inset 0px -1px 10px rgb(72, 124, 72);
}

.main-title h1 {
    color: white;
    font-size:3.5rem;
    font-family: "Titillium Web", sans-serif;
    margin: 1rem 0 0;
    text-shadow: -1px 1px 3px rgb(72, 124, 72);
    
}

.main-title p {
    color: white;
    font-size: 1.5rem;
    margin: 0 0 1.8rem;
}

.MainContainer { /* specificity: 10 */
    width: 90%;
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    justify-content: space-around;
}

input[type = "button"] { /* specificity: 11 */
    background-color: white;
    border: .06rem solid rgb(119, 212, 119);
    border-radius: .3rem;
    color: rgb(119, 212, 119);
    padding: .3rem;

    font-weight: lighter;
    font-family: inherit;
    cursor: pointer;
}

.SectionContainer nav { /* specificity: 2 */
    display: flex;
    justify-content: flex-start;
}

.SectionContainer ul { /* specificity: 2 */
    padding: 0;
    padding-top: 2rem;
}

.SectionContainer li { /* specificity: 11 */
    border-bottom: .1rem solid rgb(119, 212, 119);
}

.SectionContainer a { /* specificity: 12 */
    color: rgb(119, 212, 119);
}

.SectionContainer section {
    flex-direction: row;
}

article { /* specificity: 1 */
    width: 100%;
    flex-shrink: 3;
    border-top: .06rem solid rgb(180, 180, 180);
    padding: 2rem 0 2rem;
}

.top { /* specificity: 10 */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top img { /* specificity: 11 */
    width: 2rem;
    height: 2rem;
    border-radius: 70%;
    align-self: center;
}

.top .info { /* specificity: 20 */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info > a { /* specificity: 11 */
    width: fit-content;
    color: rgb(119, 212, 119);
}

.info a:hover { /* specificity: 21 */
    color: rgb(98, 160, 98);
    text-decoration: underline;
}

.top input[type = "button"] { /* specificity: 21 */
    height: fit-content;
    width: 3rem;
}

.top input[type = "button"]:hover { /* specificity: 31 */
    background-color: rgb(119, 212, 119);
    color: white;
}

.middle h1 { /* specificity: 11 */
    margin-bottom: 0;
    color: black;
}

.bottom { /* specificity: 10 */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom p { /* specificity: 11 */
    width: fit-content;
    min-width: 12rem;
    font-size: .8rem;
    font-weight: lighter;
}

.bottom a, 
.bottom a:hover { /* specificity: 21 */
    color: rgb(180, 180, 180);
}

.bottom section { /* specificity: 11 */
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.bottom input[type = "button"] { /* specificity: 21 */
    margin: .07rem;
    border-color: rgb(184, 184, 184);
    border-radius: 1rem;
    color: rgb(155, 155, 155);
}

.PageNumber {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.PageNumber input[type = "button"] {
    border-color: rgb(184, 184, 184);
    border-radius: 0;
    color: rgb(155, 155, 155);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    
    font-size: 1rem;
    color: rgb(92, 184, 92);
}

.PageNumber input[type = "button"]:hover {
    background-color: rgb(92, 184, 92);
    color: white;
}

.AsideContainer {
    padding: 0.5rem;
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: 5%;

    height: fit-content;
    min-width: 10rem;
    flex-grow: 1;
    flex-basis: 1rem;
}

.AsideContainer h2 {
    font-size: 1rem;
    font-weight: normal;
}

.AsideContainer section { /* specificity: 2 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.AsideContainer section input[type = "button"] {
    background-color: silver;
    color: white;
    border: none;
    border-radius: 30%;
    margin: .2rem;
}

.AsideContainer section input[type = "button"]:hover {
    background-color: darkgray;
}