
nav { /* specificity: 1 */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

ul { /* specificity: 1 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: .5rem 1.3rem .5rem;
}

li { /* specificity: 1 */
    padding: .5rem;
    list-style: none;
}

main { /* specificity: 1 */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section { /* specificity: 1 */
    width: 90%;
    max-width: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

time { /* specificity: 1 */
    color: rgb(180, 180, 180);
    font-size: .8rem;
    font-weight: lighter;
}

a { /* specificity: 1 */
    color: rgb(180, 180, 180);
    text-decoration: none;
}

p { /* specificity: 1 */
    margin: 0 0 1rem;
    color: rgb(180, 180, 180);
    font-weight: lighter;
}

header h1 { /* specificity: 2 */
    margin: 0;
    padding: .5rem 1.8rem .5rem;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
}

h1 a,  /* specificity: 2 */
h1 a:hover{ /* specificity: 12 */
    color: rgb(119, 212, 119);
}

a:hover { /* specificity: 11 */
    color: black;
}

.user-info { /* specificity: 10 */
    width: 100%;
    height: 16rem;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info-container { /* specificity: 10 */
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem 0;
    
    text-align: center;
}

.user-info-container img { /* specificity: 11 */
    width: 6rem;
    border-radius: 100%;
}

.user-info-container h1 { /* specificity: 11 */
    font-size: 1.3rem;
}

.user-info-container input[type = "button"] { /* specificity: 21 */
    align-self: flex-end;

    background-color: rgb(240, 240, 240);
    border-color: rgb(155, 155, 155);
    color: rgb(155, 155, 155);
}

.user-info-container input[type = "button"]:hover {
    background-color: rgb(200, 200, 200);
}

input[type = "button"] { /* specificity: 11 */
    background-color: white;
    border: .06rem solid rgb(119, 212, 119);
    border-radius: .3rem;
    color: rgb(119, 212, 119);
    padding: .3rem;

    font-weight: lighter;
    font-family: inherit;
    cursor: pointer;
}

section nav { /* specificity: 2 */
    display: flex;
    justify-content: flex-start;
}

section ul { /* specificity: 2 */
    padding: 0;
    padding-top: 2rem;
}

section .selected { /* specificity: 11 */
    border-bottom: .1rem solid rgb(119, 212, 119);
}

section .selected a { /* specificity: 12 */
    color: rgb(119, 212, 119);
}

article { /* specificity: 1 */
    width: 100%;
    border-top: .06rem solid rgb(180, 180, 180);
    padding: 2rem 0 2rem;
}

.top { /* specificity: 10 */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top img { /* specificity: 11 */
    width: 2rem;
    height: 2rem;
    border-radius: 70%;
    align-self: center;
}

.top .info { /* specificity: 20 */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info > a { /* specificity: 11 */
    width: fit-content;
    color: rgb(119, 212, 119);
}

.info a:hover { /* specificity: 21 */
    color: rgb(98, 160, 98);
    text-decoration: underline;
}

.top input[type = "button"] { /* specificity: 21 */
    height: fit-content;
    width: 3rem;
}

.top input[type = "button"]:hover { /* specificity: 31 */
    background-color: rgb(119, 212, 119);
    color: white;
}

.middle h1 { /* specificity: 11 */
    margin-bottom: 0;
    color: black;
}

.bottom { /* specificity: 10 */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom p { /* specificity: 11 */
    width: fit-content;
    min-width: 12rem;
    font-size: .8rem;
    font-weight: lighter;
}

.bottom a:hover { /* specificity: 21 */
    color: rgb(180, 180, 180);
}

.bottom section { /* specificity: 11 */
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bottom input[type = "button"] { /* specificity: 21 */
    margin: .07rem;
    border-color: rgb(184, 184, 184);
    border-radius: 1rem;
    color: rgb(155, 155, 155);
}
